<nav class="navbar navbar-expand-lg navbar-dark bg-transparent" style=" height: 35pt;">
    <div class="mr-auto">
        <img src="assets/images/e-shop.svg">
    <a class="navbar-brand brand" href="#">E-shop</a>
    </div>
    <div class="d-flex justify-content-between div2" >
        <a class="nav-item nav-link">Products</a>
        <a class="nav-item nav-link">Insipiration</a>
        <a class="nav-item nav-link">Rooms</a>
    </div>
    <div class="ml-auto div3">
        <a ><img src="assets/images/search.svg"></a>
        <a><img src="assets/images/noun_cart_2102832 (4).svg"></a>
        <a><img src="assets/images/noun_avatar_2102861 (2).svg"></a>
    </div>
  </nav>