<section>
<div class="bg-div" style="background-image: url('/assets/images/bg.png');">
   <div style="background: #00000055;">
    <div style="margin-left:80pt; padding-top: 40px;">
        <app-navbar></app-navbar>
    </div>

    <div class="h1div">
        <h1>
            Make your house into a home
        </h1>
    </div>
    <div class="btn1 mr-auto">
        <button class="btn-primary" style="border-radius: 100%;"><img
                src="assets/images/noun_Arrow Left_2682937.svg"></button>
        <a style="color:white;margin-left:22px;">Shop now</a>
    </div>
    <div class="div1" style="border-top-right-radius:65px;">
        <div>
            <div class="row" style="padding-right: 40px; padding-top: 40px;">
                <div class="col"></div>
                <div class="col">
                    <div class="d-flex">
                        <span class="align-self-baseline" style="padding: 8px; border-radius: 5px; margin: 4px; background: #E1ECFF;">
                            <img src="assets/images/noun_Happy_1563582.svg">
                        </span>
                        <span class="flex-grow-1">
                            <b>Free Shipping</b>
                            <p>On purchases over $399</p>
                        </span>
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex">
                        <span class="align-self-baseline" style="padding: 8px; border-radius: 5px; margin: 4px; background: #E1ECFF;">
                            <img src="assets/images/noun_Happy_1563582.svg">
                        </span>
                        <span class="flex-grow-1">
                            <b>99% satisfied customers</b>
                            <p>Our clients' opinions speak for themselves</p>
                        </span>
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex">
                        <span class="align-self-baseline" style="padding: 8px; border-radius: 5px; margin: 4px; background: #E1ECFF;">
                            <img src="assets/images/noun_Happy_1563582.svg">
                        </span>
                        <span class="flex-grow-1">
                            <b>Originality Guaranteed</b>
                            <p>2 years warranty for each product from our store</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>
</div>
</section>
<section id="section2">
    <div class="s2d1 row">
        <div style="background-color:lightsalmon; background-image: url('assets/images/Bez nazwy-3.png');" class="s2d2 col-md">
            <div>
            <h3 class="s2h1 ">New collection available now</h3>
          <button class="btn btn-light btn2"><b>View all</b></button>
          </div>
        </div>
        <div style="background-color:skyblue; background-image: url('assets/images/CHA1252946-1_2048x.png');" class="s2d3 col" > 
        <div>
            <h3 class="s2h2">Redefining the modern design</h3>
            <button class="btn btn-light btn2"><b>CHECK MORE</b></button>
            </div>
        </div>
    </div> 
</section>
<section id="section3">
    <div class="s3d1">
    <div class="d-flex justify-content-between">
        <h3>Selected just for you</h3>
        <button class="btn btn-light ">Show more</button>
    </div>
    </div>
</section>